@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/* html {
  scroll-behavior: smooth;
} */
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}
body {
 background-color: black; 
}
hr {
  border-top: 1px solid #27b9cc;
}
.cyan {
  background-color: #27b9cc;
}
.special-text {
  font-size: 1.6em;
}
.footer-text {
  font-size: 1.8em;
}
.card img {
  height: 11em;
}
.tooltip {
  border: 2px solid #ffffff;
}