body {
    text-align: center;
    color: #000f08;
    margin: 0;  
    font-family: 'Open Sans', sans-serif;
}
body * {
    margin: 0;
    padding: 0;
    border: 0;
}
h1 {
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 1em;
    margin-left: 3em;
}
h2 {
    font-weight: 650;
    font-size: 1.9em;
    letter-spacing: 0.5px;
}
h3 {
    font-size: 1em;
    padding-bottom: 0.5em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: .75em; 
}
.charla-texto p {
    font-size: .95em;
}
.subtitulo, h4, h5 {
    font-weight: 400;
}
.oscuro {
    background-color: #000f08;
    color: #ffffff;
}
.oscuro a {
    color: #ffffff;
    text-decoration: none;
}
.sweet-brown {
    text-align: left;
    background: #a4452c;
    color: #ffffff;
    padding: 50px;
    white-space: nowrap;
}
.hero-section {
    text-align: right;
    background-image: url('../img/bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    padding: 6.25rem 3.125rem;
}
section, footer {
    margin-top: 75px;
}
footer {
    padding: 50px;
}
.charla-texto, .evento {
    display: inline-block;
}
.centrado {
    width: 75%;
    margin: 0 auto; 
}
.charla-speaker {
    width: 25%;
    vertical-align: middle;
}
.charla-texto {
    width: 70%;
    vertical-align: middle;
    margin-left: 5%;
    white-space: normal;
}
.evento { 
    width: 30%;
}
.evento img {
    width: 75%;
}
nav {
    text-align: left;
    padding: 1.25rem 4rem;
    position: fixed;
    width: 100vw;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle;
}
.icono {
    width:2rem;
}
.icono svg {
    fill: #ffffff;
}
footer i {
    margin: 0 0.25em 0.5em 0.25em;
}
.content {
    margin: 0 auto;
    width: 60vw;
    text-align: left;
    letter-spacing: 0.5px;
}
main p + p, main p + h3, main h3 + p, main img + p {
    margin: 1em 0;
}
main h2 {
    font-weight: 600;
    font-size: 1.5em;
    padding-top: 5em;
    padding-bottom: 1em;
}
.evento-principal {
    width: 100%;
}
#eventos h2 {
    padding-bottom: 1.5em;
}